body {
    background: #000;
    font-family: Arial;
}

.calc-box {
    background: #fff;
    border: 2px solid #000;
    width: 420px;
    padding: 10px;
    margin: 20px auto;
}

input[type="text"] {
    width: 90px;
    padding: 3px;
    border: 1px solid #000;
    background: #fff;
}

.operator {
    margin: 0 10px;
}

button {
    padding: 4px 12px;
    background: #d9d0c0;
    border: 1px solid #000;
    cursor: pointer;
}

.history-box {
    background: #fff;
    border: 2px solid #000;
    width: 420px;
    margin: 20px auto;
    padding: 10px;
    white-space: pre-line;
}